.login {
    background-color: #D04A02;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

body {
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
}



.bottom-arrow {

    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 10px solid #5F085A;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}


progress::-webkit-progress-bar {
    background-color: #F0E5FC;
}

progress::-webkit-progress-value {
    background-color: #5F085A;
}